*.swp
*.parcel
*.sdl
csd/images/icon.png
.cookie

# Release and intermediates
release
TLS-*
# Remote binaries
nifi-*.tar.gz

# SHA256 SUMS
*-SHA256

# Tools
ghr
gh-release
validator.jar
make_manifest.py
